.cake-item {
  display: block;
  padding: $cake-item-padding-vertical $cake-item-padding-horizontal;
  margin: $cake-item-margin-vertical $cake-item-margin-horizontal;
  border: $cake-item-border;
  cursor: pointer;
  position: relative;
  background-color: $cake-item-bg-color;

  @include box-shadow($cake-item-shadow);

	&.preview {
		&:before,
		&:after {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			@include transition($cake-item-hover-transition);
		}
		&:before {
			top: 50%;
			left: 0;
			display: block;
			width: 100%;
			margin: 0 auto;
			margin-top: -12px;
			font-size: 24px;
			color: #9e9e9e;
			z-index: $z-index-3;
		}
		&:after {
	    content: '';
	    background-color: $cake-item-hover-bg-color;
	    top: 0;
	    right: 0;
	    bottom:0;
	    left: 0;
			z-index: $z-index-2;
	  }

	  &:hover {

	    color: $cake-item-color;
	    text-decoration: none;

			&:before {
				content: 'EDIT';
			}

			&:before,
	    &:after {
	      opacity: 1;
	      visibility: visible;;
	    }
	  }
	}

  .cake-item__title {
    font-weight: 100;
    text-transform: capitalize;
    display: block;
    padding-top: $cake-item-padding-vertical;
    color: $cake-item-color;
  }

  .cake-item__img {
    display: block;
  }
}
