$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;

$border-radius: 20px;

$btn-padding-vertical: 0px;
$btn-padding-horizontal: 15px;

$cake-item-bg-color: #ffffff;
$cake-item-padding-horizontal: 1rem;
$cake-item-padding-vertical: 1rem;
$cake-item-margin-horizontal: 1rem;
$cake-item-margin-vertical: 1rem;
$cake-item-border: 1px solid #d3d3d3;
$cake-item-hover-bg-color: rgba(255,255,255,0.8);
$cake-item-hover-transition: opacity 0.25s linear, visibility 0.25s linear;
$cake-item-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
$cake-item-color: #333333;

$filter-padding-vertical: 8px;
$filter-padding-horizontal: 20px;
$filter-margin-vertical: 50px;
$filter-border: 2px solid #e5e5e5;
$filter-input-box-shadow: 0 3px 5px 0px rgba(229, 229, 229, 0.69);

$add-btn-margin-vertical: 30px;
$add-btn-padding-vertical: 9px;
$add-btn-padding-horizontal: 25px;
$add-btn-font-size: 18px;
$add-btn-border-radius: 25px;
