.filter {
	margin-top: $filter-margin-vertical;
}
.filter__input {
  width: 100%;
  padding: $filter-padding-vertical $filter-padding-horizontal;
  border-radius: $border-radius;
  position: relative;
  z-index: $z-index-1;

  @include reset-focus;

  border: $filter-border;

  &:focus {
    @include box-shadow($filter-input-box-shadow);
  }
}
